
.inner-box{
    width:400px;
    height:600px;
    background-color: rgb(90, 64, 208);
    margin-left: 500px;
    padding-left: 30px;
    padding-top: 41px;
   
}
.type-text{
    width:357px;
    height: 62px;
    background-color: white;
}
#screen{
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.row{
     padding-top:30px;
}
.btn{
    width: 80px;
    height: 80px;
}
.clear{
   margin-top: 5px; 
}
.btn-1{
    width: 50px;
    height: 50px;
}